<!doctype html>
<html>
	<head>
		<title>My Library</title>
		<meta charset="utf-8"><link href="/stylesheets/myLibrary.css" rel="stylesheet">
	</head>
	<body>
		<div id="welcome">
			<h1>Welcome to myLibrary!</h1>
		</div>

		<div id="formWrap">
			<form id="addBookForm" action="/" method = "post">
				<h2>Add Book Form</h2>

				<!--title input -->
				<span>Title:</span><input id="titleField" type="text" name="book_title" class="textField" required><br>
				<!--author input-->
				<span>Author:</span><input id="authorField" type="text" name="book_author" class="textField" required><br>

				<!--submit-->
				<input type="submit" value="submit" id="button">

			</form>

		</div>
	</body>


	<!--Javascript-->
	<script>
		

	</script>

</html>
