<!doctype html>
<html>
	<head>
		<title>Welcome Page</title>
		<meta charset="utf-8"><link href="stylesheets/index.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	</head>
	<body>
		<div id="welcome">
			<h1>Welcome to myLibrary!</h1>
		</div>

		<!-- nav bar -->
		<div id='mainNav' class='btn-group-vertical'>
			<button type='button' class='btn btn-default' onclick='window.location.href="/myLibrary"'>My Books</button>
			<button type='button' class='btn btn-default'>Wish List</button>
			<button type='button' class='btn btn-default'>Something</button>
		</div>
	</body>
	
	<!--Javascript-->
	<script>
		

	</script>

</html>
