<!doctype html>
<html>
	<head>
		<title>My Library</title>
		<meta charset="utf-8">
		<link href="/stylesheets/myLibrary.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.3.js">
		</script>
		<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js">
		</script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

		
		
	</head>
	<body>
	
	</body>
			
		<div class='container'>
			<h1>My Books</h1>

			<div id="sortOptions">
				<h3>Sort By:</h3>
				<button onclick='sortAlpha()' class='button-group enabled'>Alphabetic</button>
				<button onclick='sortCat()' class='button-group disabled'>Category</button>
				<button onclick='sortAuth()' class='button-group disabled'>Author</button>
			</div>

			<!--TABLE-->
			<table id='bookTable' class='table table-striped'>
				<thead>
					<tr>
						<th>Title</th>
						<th>Author</th>
						<th>Category</th>
					</tr>
				</thead>

				<tbody>

					<% for(i in books){  %>
						<tr>
							<td><%= JSON.stringify(books[i].Title)%></td>
							<td><%= JSON.stringify(books[i].Author)%></td>
							<td><%= JSON.stringify(books[i].Category)%></td>
							<td></td>
						</tr>
				
					<% } %>
				</tbody>
			</table>
		</div>


	<!--Javascript-->
	<script>
		//table script
		$(document).ready(function(){
			table = $('#bookTable').DataTable({
				"ScrollY": "200px",
				"ScrollCollapse": true,
				"paging": false,
				"aoColumnDefs" : [ 
                    {
                        "aTargets": [3],
                        "fnCreatedCell" : function(nTd, sData, oData, iRow, iCol){
                            var b = $('<button>delete</button>');
                            //b.button();
                            b.on('click',function(){
                                alert('button clicked');
                            });
                            $(nTd).empty();
                            $(nTd).prepend(b);
                        }
                    }],

     		});

		});
		//sort button script
		$('.button-group').click(function(){
			var clickedBtn = $(this);

			if(clickedBtn.hasClass('disabled')){
				$('.button-group').addClass('disabled');
				clickedBtn.removeClass('disabled');;
				clickedBtn.addClass('enabled');
			}
		
		});
		//var table = $('#bookTable').DataTable();
		function sortAlpha(){
			table.rows().invalidate();
			table.order([0,'asc']);
			table.draw();


		};

		function sortCat(){
			table.rows().invalidate();
			table.order([2,'asc']);
			table.draw();
			//alert('Category');
		};

		function sortAuth(){
			table.rows().invalidate();
			table.order([1,'asc']);
			table.draw();
		};
	</script>

</html>
