<!doctype html>
<html>
	<head>
		<title>My Library</title>
		<meta charset="utf-8">
		<link href="/stylesheets/myLibrary.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.3.js">
		</script>
		<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js">
		</script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

		
		
	</head>
	<body>
	
	</body>
			
		<div class='container'>
			<h1>My Books</h1>
			<table id='bookTable' class='table table-striped'>
				<thead>
					<tr>
						<th>Title</th>
						<th>Author</th>
						<th>Category</th>
					</tr>
				</thead>

				<tbody>

					<% for(i in books){  %>
						<tr>
							<td><%= JSON.stringify(books[i].Title)%></td>
							<td><%= JSON.stringify(books[i].Author)%></td>
							<td><%= JSON.stringify(books[i].Category)%></td>
						</tr>
				
					<% } %>
				</tbody>
			</table>
		</div>


	<!--Javascript-->
	<script>
		$(document).ready(function(){
			$('#bookTable').DataTable({
				"ScrollY": "200px",
				"ScrollCollapse": true,
				"paging": false
			});
		});

	</script>

</html>
