<!doctype html>
<html>
	<head>
		<title>My Library</title>
		<meta charset="utf-8"><link href="/stylesheets/myLibrary.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	</head>
	<body>
	
	</body>

		<h1>Hello World</h1>
	<!--Javascript-->
	<script>
		

	</script>

</html>
